aniso8601==9.0.1
annoy==1.17.1
click==8.0.3
colorama==0.4.4
dropbox
django>=4.0.8
Flask~=2.0.2
Flask-RESTful==0.3.9
gensim
gunicorn==20.1.0
importlib-metadata>=3.6.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib
MarkupSafe>=2.0
nltk>=3.6.6
# numpy>=1.22
numpy>=1.23.0
pandas
pytest-cov
protobuf>=3.19.5
psycopg2-binary==2.9.2
python-dateutil==2.8.2
pytz==2021.3
regex>=2021.8.3
scikit-learn~=1.0.1
scipy~=1.9.1
simpful~=2.9.0
six==1.16.0
smart-open==5.2.1
threadpoolctl==3.0.0
types-redis==4.3.21.1
tqdm~=4.62.3
Werkzeug>=2.2.2
requests~=2.27.1
urllib3~=1.26.4
dropbox~=11.27.0
redis~=4.0.2
sklearn~=0.0
majka~=0.9
html2text~=2020.1.16
pyLDAvis~=3.3.1
surprise~=0.1
certifi~=2021.10.8
pytest~=7.1.2
matplotlib~=3.5.1
pymongo~=4.2.0
altair~=4.2.0
xgboost~=1.5.2
lightgbm~=3.3.2
pika~=1.3.0
funcy~=1.17
seaborn~=0.11.2
setuptools~=57.0.0
pip~=22.2.2
dataclasses~=0.8
attrs~=22.1.0
colorlog~=6.6.0
toml~=0.10.2
zlib~=1.2.12
wheel~=0.36.2
brotli~=1.0.9
# openssl~=1.1.1q
cryptography~=36.0.0
py~=1.11.0
pillow~=9.0.1
tornado~=6.1
cython~=0.29.23
future~=0.18.2
spacy-sentence-bert~=0.1.2
zipp>=0.5
multi-rake~=0.0.2
pycld2~=0.41
summa~=1.2.0
jellyfish~=0.9.0
networkx~=2.8.8
segtok~=1.5.11
tabulate~=0.9.0
yake~=0.4.8