[Unit]
Description=Python Thumbs Service

[Service]
EnvironmentFile=/home/muller/Dokumenty/Codes/moje-clanky-api/.env
Environment=PYTHONUNBUFFERED=1
ExecStartPre=/bin/sleep 10
# Command to execute when the service is started
ExecStart=/bin/sh -c 'cd /home/muller/Dokumenty/Codes/moje-clanky-api/ && . /home/muller/Envs/venv_deploy/bin/activate && python3 rabbitmq_multithreaded_thumbs.py'
Restart=always

[Install]
WantedBy=multi-user.target
